POSTGRES_DB=inventory_db
POSTGRES_USER=inventory_user
POSTGRES_PASSWORD=inventory_password

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/inventory_db
SPRING_DATASOURCE_USERNAME=inventory_user
SPRING_DATASOURCE_PASSWORD=inventory_password

SPRING_REDIS_HOST=redis
SPRING_REDIS_PORT=6379
